<a class="d-grid" href="{{ href }}">
  <button type="button" class="btn btn-lg btn-inverse">
    {% if theme == 'light' %}
      <i class="fa-solid fa-sun"></i>
    {% else %}
      <i class="fa-solid fa-moon"></i>
    {% endif %}
  </button>
</a>